﻿@{
    ViewData["Title"] = "Meni-hrana";
}

<h1>Hrana</h1>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Pizza
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="/Pictures/margarita.jpg" alt="Pizza margarita" width="30%" height="30%" class="rounded mx-auto d-block"></td>
            <td width="30%">Margarita</td>
            <td width="30%">370</td>
        </tr>
        <tr>
            <td><img src="/Pictures/capricciosa.jpg" alt="Pizza capricciosa" width="30%" height="30%" class="rounded mx-auto d-block"></td>
            <td width="30%">Capricciosa</td>
            <td width="30%">410</td>
        </tr>
        <tr>
            <td><img src="/Pictures/vesuvio.jpg" alt="Pizza vesuvio" width="30%" height="30%" class="rounded mx-auto d-block"></td>
            <td width="30%">Vesuvio</td>
            <td width="30%">400</td>
        </tr>
        <tr>
            <td><img src="/Pictures/quattro-formaggi.jpg" alt="Pizza quattro-formaggi" width="30%" height="30%" class="rounded mx-auto d-block"></td>
            <td width="30%">Quattro-formaggi</td>
            <td width="30%">450</td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Burger
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="/Pictures/Hamburger.jpg" alt="Hamburger" width="30%" height="30%" class="rounded mx-auto d-block"></td>
            <td width="30%">Hamburger</td>
            <td width="30%">220</td>
        </tr>
        <tr>
            <td><img src="/Pictures/Cheeseburger.jpg" alt="Cheeseburger" width="30%" height="30%" class="rounded mx-auto d-block"></td>
            <td width="30%">Cheeseburger</td>
            <td width="30%">250</td>
        </tr>
        <tr>
            <td><img src="/Pictures/Chicken-Burgers.jpg" alt="Chichen burger" width="30%" height="30%" class="rounded mx-auto d-block"></td>
            <td width="30%">Chicken burger</td>
            <td width="30%">240</td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Palacinka
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="/Pictures/slana-palacinka.jpeg" alt="Slana palacinka" width="30%" height="30%" class="rounded mx-auto d-block"></td>
            <td width="30%">Slana palacinka - sunka, kackavalj</td>
            <td width="30%">180</td>
        </tr>
        <tr>
            <td><img src="/Pictures/slatka-palacinka.jpg" alt="Slatka palacinka" width="30%" height="30%" class="rounded mx-auto d-block"></td>
            <td width="30%">Slatka palacinka - krem, plazma</td>
            <td width="30%">140</td>
        </tr>
        <tr>
            <td><img src="/Pictures/pohovana-palacinka.jpg" alt="Pohovana palacinka" width="30%" height="30%" class="rounded mx-auto d-block"></td>
            <td width="30%">pohovana palacinka - sunka, kackavalj</td>
            <td width="30%">200</td>
        </tr>
    </tbody>
</table>
