﻿@{
    ViewData["Title"] = "Naruci";
}

<div class="container py-1 px-4">
  <header id="tableHeader" class="text-center mb-2">
    <h3 class="text-black">Izaberite Vas sto iz liste stolova</h3>
    <div class="container">
        <div class="row justify-content-center mt-1">
            <div class="col-4">
                <select id="tableSelect"class="form-select w-50" aria-label="">
                        <option value="" selected>Lista stolova</option>
                        <option value="sto1">Sto 1</option>
                        <option value="sto2">Sto 2</option>
                        <option value="sto3">Sto 3</option>
                        <option value="sto4">Sto 4</option>
                        <option value="sto5">Sto 5</option>
                        <option value="sto6">Sto 6</option>
                    </select>
            </div>
            <div class="col-4">
                <button id="button-subscribe" type="submit" class="btn btn-primary"> Izaberi </button>
            </div>
         </div>
    </div>
  </header>

  <div class="row rounded-lg overflow-hidden shadow">
    <!-- Users box-->
    <div class="col-3 px-0">
      <div class="bg-light">

        <div class="bg-gray px-4 py-2 bg-light">
          <p class="h5 mb-0 py-1">Vas konobar</p>
        </div>

        <div class="messages-box">
          <div class="list-group rounded-0">
            <a class="list-group-item list-group-item-action text-black rounded-0" style="background-color: #d5e9eb">
              <div class="media"><img src="/Pictures/waiterlogo.jpg" alt="user" width="75" class="rounded">
                <div class="media-body ml-4">
                  <div class="d-flex align-items-center justify-content-between mb-1 mt-4">
                    <h6 class="mb-0">Konobar</h6>
                  </div>
                </div>
              </div>
            </a>       
          </div>
        </div>
      </div>
    </div>
    <!-- Chat Box-->
    <div class="col-9 px-0">
      <div id="messageArea" class="px-4 py-5 chat-box bg-light">
        <!-- Recive Message-->

        <!-- Sender Message-->
         
      </div>

      <!-- Typing area -->
      <form action="#" class="bg-light">
        <div class="input-group mb-1">
          <input id="messageBox" type="text" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
          <div class="input-group-append">
            <button id="button-addon2" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

<script>


    var sendBtn = document.getElementById("button-addon2");
    var msgBox = document.getElementById("messageBox");
    var listOfMessages = document.getElementById("messageArea");
    var subscribeBtn = document.getElementById("button-subscribe");
    var tableSelect = document.getElementById("tableSelect");
    var tableHeader = document.getElementById("tableHeader");

    socket = new WebSocket("ws://localhost:8600");


    socket.onmessage = function (event) {
        console.log(event);
        console.log(event.data);

        var text = event.data;
        var posiljalac = text.substring(23, 30);
        console.log(posiljalac);

        var poruka = text.substring(39, text.length);
        console.log(poruka);

        if(posiljalac == "Konobar" || event.CommandKey == 0){
        var html = '<div class="media w-50 mb-3">' + 
                        '<div class="media-body">' + 
                            '<div class="bg-secondary rounded py-2 px-3 mb-2">' + 
                                '<p class="text-small mb-0 text-white">' + poruka + '</p>' +
                            '</div>' +
                        '</div>' +
                    '</div>';

        listOfMessages.innerHTML += html;
        }                                
    };

    sendBtn.onclick = function () {
        if (!socket || socket.readyState !== WebSocket.OPEN) {
            alert("socket not connected");
        }
        var data = constructJSONPayload();
        var html = '<div class="media w-50 ml-auto mb-3">' + 
                           '<div class="media-body">' + 
                               '<div class="bg-primary rounded py-2 px-3 mb-2">' + 
                                   '<p class="text-small mb-0 text-white">' + msgBox.value + '</p>' +
                               '</div>' +
                           '</div>' +
                       '</div>';

        listOfMessages.innerHTML += html;
        listOfMessages.scrollTop = listOfMessages.scrollHeight;
        msgBox.value = "";
        console.log(data);
        socket.send(data);

        return false;
        
    };

    subscribeBtn.onclick = function () {
        if (!socket || socket.readyState !== WebSocket.OPEN) {
            alert("socket not connected");
        }
        var data = constructJSONPayloadForSubscribe();
        console.log(data);
        socket.send(data);
        tableHeader.style.display ='none';
    };



    function constructJSONPayloadForSubscribe() {
        return JSON.stringify({
            "CommandKey": 0,          
            "Payload": "{\"Channel\":\"" + tableSelect.value + "\",\"ClientId\":\"" + tableSelect.value + "\"}"
        });
    };


    function constructJSONPayload() {
        return JSON.stringify({
            "CommandKey": 2,
            "Payload": "{\"Channel\":\"" + tableSelect.value + "\",\"ClientId\":\"" + tableSelect.value + "\",\"Message\":\" " + 
            msgBox.value + "\"}"
        });
    };


</script>