﻿@{
    ViewData["Title"] = "Karta pica";
}

<h1>Pice</h1>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Sokovi
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="/Pictures/cocacola_can.jpg" alt="Coca cola" width="30%" height="30%" class="rounded mx-auto d-block"></td>
            <td width="30%">Coca-cola</td>
            <td width="30%">90</td>
        </tr>
        <tr>
            <td><img src="/Pictures/Fanta-orange.jpg" alt="Fanta" width="30%" height="30%" class="rounded mx-auto d-block"></td>
            <td width="30%">Fanta</td>
            <td width="30%">90</td>
        </tr>
        <tr>
            <td><img src="/Pictures/sprite.jpg" alt="Sprite" width="30%" height="30%" class="rounded mx-auto d-block"></td>
            <td width="30%">Sprite</td>
            <td width="30%">90</td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Pivo
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="/Pictures/nisko-limenka.jpg" alt="Nisko" width="30%" height="20%" class="rounded mx-auto d-block"></td>
            <td width="30%">Nisko</td>
            <td width="30%">130</td>
        </tr>
        <tr>
            <td><img src="/Pictures/zajecarsko.jpg" alt="Fanta" width="30%" height="20%" class="rounded mx-auto d-block"></td>
            <td width="30%">Zajecarsko</td>
            <td width="30%">150</td>
        </tr>
        <tr>
            <td><img src="/Pictures/tuborg.jpg" alt="Tuborg" width="30%" height="20%" class="rounded mx-auto d-block"></td>
            <td width="30%">Tuborg</td>
            <td width="30%">170</td>
        </tr>
    </tbody>
</table>
