﻿@{
    ViewData["Title"] = "Naruci";
}
<div class="row">
            <!------------------------------ Start of table 1 ---------------------------------------------->
    <div class="col">
        <div class="container py-1 px-4">
          <div class="row rounded-lg overflow-hidden shadow">
            <!-- Users box-->
            <div class="col-2 px-0">
              <div class="bg-light">
                <div class="messages-box">
                  <div class="list-group rounded-0">
                    <a class="list-group-item list-group-item-action text-black rounded-0" style="background-color: #d5e9eb">
                        <div class="media-body">
                          <div class="d-flex align-items-center justify-content-between">
                            <h6 class="">Sto 1</h6>
                          </div>
                        </div>
                    </a>       
                  </div>
                </div>
              </div>
            </div>
            <!-- Chat Box-->
            <div class="col-10 px-0">
              <div id="messageArea1" class="px-4 py-5 chat-box bg-light">
                <!-- Recive Message-->

                <!-- Sender Message-->
         
              </div>

              <!-- Typing area -->
              <form action="#" class="bg-light">
                <div class="input-group mb-1">
                  <input id="messageBox1" type="text" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
                  <div class="input-group-append">
                    <button id="button-send1" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
    </div>

            <!------------------------------ Start of table 2 ---------------------------------------------->

    <div class="col">
        <div class="container py-1 px-4">
          <div class="row rounded-lg overflow-hidden shadow">
            <!-- Users box-->
            <div class="col-2 px-0">
              <div class="bg-light">
                <div class="messages-box">
                  <div class="list-group rounded-0">
                    <a class="list-group-item list-group-item-action text-black rounded-0" style="background-color: #d5e9eb">
                        <div class="media-body">
                          <div class="d-flex align-items-center justify-content-between">
                            <h6 class="">Sto 2</h6>
                          </div>
                        </div>
                    </a>       
                  </div>
                </div>
              </div>
            </div>
            <!-- Chat Box-->
            <div class="col-10 px-0">
              <div id="messageArea2" class="px-4 py-5 chat-box bg-light">
                <!-- Recive Message-->

                <!-- Sender Message-->
         
              </div>

              <!-- Typing area -->
              <form action="#" class="bg-light">
                <div class="input-group mb-1">
                  <input id="messageBox2" type="text" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
                  <div class="input-group-append">
                    <button id="button-send2" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
    </div>
</div>


<div class="row">
            <!------------------------------ Start of table 3 ---------------------------------------------->
    <div class="col">
        <div class="container py-1 px-4">
          <div class="row rounded-lg overflow-hidden shadow">
            <!-- Users box-->
            <div class="col-2 px-0">
              <div class="bg-light">
                <div class="messages-box">
                  <div class="list-group rounded-0">
                    <a class="list-group-item list-group-item-action text-black rounded-0" style="background-color: #d5e9eb">
                        <div class="media-body">
                          <div class="d-flex align-items-center justify-content-between">
                            <h6 class="">Sto 3</h6>
                          </div>
                        </div>
                    </a>       
                  </div>
                </div>
              </div>
            </div>
            <!-- Chat Box-->
            <div class="col-10 px-0">
              <div id="messageArea3" class="px-4 py-5 chat-box bg-light">
                <!-- Recive Message-->

                <!-- Sender Message-->
         
              </div>

              <!-- Typing area -->
              <form action="#" class="bg-light">
                <div class="input-group mb-1">
                  <input id="messageBox3" type="text" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
                  <div class="input-group-append">
                    <button id="button-send3" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
    </div>

            <!------------------------------ Start of table 4 ---------------------------------------------->

    <div class="col">
        <div class="container py-1 px-4">
          <div class="row rounded-lg overflow-hidden shadow">
            <!-- Users box-->
            <div class="col-2 px-0">
              <div class="bg-light">
                <div class="messages-box">
                  <div class="list-group rounded-0">
                    <a class="list-group-item list-group-item-action text-black rounded-0" style="background-color: #d5e9eb">
                        <div class="media-body">
                          <div class="d-flex align-items-center justify-content-between">
                            <h6 class="">Sto 4</h6>
                          </div>
                        </div>
                    </a>       
                  </div>
                </div>
              </div>
            </div>
            <!-- Chat Box-->
            <div class="col-10 px-0">
              <div id="messageArea4" class="px-4 py-5 chat-box bg-light">
                <!-- Recive Message-->

                <!-- Sender Message-->
         
              </div>

              <!-- Typing area -->
              <form action="#" class="bg-light">
                <div class="input-group mb-1">
                  <input id="messageBox4" type="text" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
                  <div class="input-group-append">
                    <button id="button-send4" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
    </div>
</div>


<div class="row">
            <!------------------------------ Start of table 5 ---------------------------------------------->
    <div class="col">
        <div class="container py-1 px-4">
          <div class="row rounded-lg overflow-hidden shadow">
            <!-- Users box-->
            <div class="col-2 px-0">
              <div class="bg-light">
                <div class="messages-box">
                  <div class="list-group rounded-0">
                    <a class="list-group-item list-group-item-action text-black rounded-0" style="background-color: #d5e9eb">
                        <div class="media-body">
                          <div class="d-flex align-items-center justify-content-between">
                            <h6 class="">Sto 5</h6>
                          </div>
                        </div>
                    </a>       
                  </div>
                </div>
              </div>
            </div>
            <!-- Chat Box-->
            <div class="col-10 px-0">
              <div id="messageArea5" class="px-4 py-5 chat-box bg-light">
                <!-- Recive Message-->

                <!-- Sender Message-->
         
              </div>

              <!-- Typing area -->
              <form action="#" class="bg-light">
                <div class="input-group mb-1">
                  <input id="messageBox5" type="text" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
                  <div class="input-group-append">
                    <button id="button-send5" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
    </div>

            <!------------------------------ Start of table 6 ---------------------------------------------->

    <div class="col">
        <div class="container py-1 px-4">
          <div class="row rounded-lg overflow-hidden shadow">
            <!-- Users box-->
            <div class="col-2 px-0">
              <div class="bg-light">
                <div class="messages-box">
                  <div class="list-group rounded-0">
                    <a class="list-group-item list-group-item-action text-black rounded-0" style="background-color: #d5e9eb">
                        <div class="media-body">
                          <div class="d-flex align-items-center justify-content-between">
                            <h6 class="">Sto 6</h6>
                          </div>
                        </div>
                    </a>       
                  </div>
                </div>
              </div>
            </div>
            <!-- Chat Box-->
            <div class="col-10 px-0">
              <div id="messageArea6" class="px-4 py-5 chat-box bg-light">
                <!-- Recive Message-->

                <!-- Sender Message-->
         
              </div>

              <!-- Typing area -->
              <form action="#" class="bg-light">
                <div class="input-group mb-1">
                  <input id="messageBox6" type="text" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
                  <div class="input-group-append">
                    <button id="button-send6" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
    </div>
</div>


<script>

    socket = new WebSocket("ws://localhost:8600");

    socket.onopen = function(){
        if (!socket || socket.readyState !== WebSocket.OPEN) {
            alert("socket not connected");
        }
        var data1 = constructJSONPayloadForSubscribe1();
        console.log(data1);
        socket.send(data1);

        var data2 = constructJSONPayloadForSubscribe2();
        console.log(data2);
        socket.send(data2);

        var data3 = constructJSONPayloadForSubscribe3();
        console.log(data3);
        socket.send(data3);

        var data4 = constructJSONPayloadForSubscribe4();
        console.log(data4);
        socket.send(data4);

        var data5 = constructJSONPayloadForSubscribe5();
        console.log(data5);
        socket.send(data5);

        var data6 = constructJSONPayloadForSubscribe6();
        console.log(data6);
        socket.send(data6);
    }



    function constructJSONPayloadForSubscribe1() {
        return JSON.stringify({
            "CommandKey": 0,          
            "Payload": "{\"Channel\":\"sto1\",\"ClientId\":\"Konobar\"}"
        });
    };

    function constructJSONPayloadForSubscribe2() {
        return JSON.stringify({
            "CommandKey": 0,          
            "Payload": "{\"Channel\":\"sto2\",\"ClientId\":\"Konobar\"}"
        });
    };

    function constructJSONPayloadForSubscribe3() {
        return JSON.stringify({
            "CommandKey": 0,          
            "Payload": "{\"Channel\":\"sto3\",\"ClientId\":\"Konobar\"}"
        });
    };

    function constructJSONPayloadForSubscribe4() {
        return JSON.stringify({
            "CommandKey": 0,          
            "Payload": "{\"Channel\":\"sto4\",\"ClientId\":\"Konobar\"}"
        });
    };

    function constructJSONPayloadForSubscribe5() {
        return JSON.stringify({
            "CommandKey": 0,          
            "Payload": "{\"Channel\":\"sto5\",\"ClientId\":\"Konobar\"}"
        });
    };

    function constructJSONPayloadForSubscribe6() {
        return JSON.stringify({
            "CommandKey": 0,          
            "Payload": "{\"Channel\":\"sto6\",\"ClientId\":\"Konobar\"}"
        });
    };



    function constructJSONPayload1() {
        return JSON.stringify({
            "CommandKey": 2,
            "Payload": "{\"Channel\":\"sto1\",\"ClientId\":\"Konobar\",\"Message\":\" " + 
            msgBox1.value + "\"}"
        });
    };

    function constructJSONPayload2() {
        return JSON.stringify({
            "CommandKey": 2,
            "Payload": "{\"Channel\":\"sto2\",\"ClientId\":\"Konobar\",\"Message\":\" " + 
            msgBox2.value + "\"}"
        });
    };

    function constructJSONPayload3() {
        return JSON.stringify({
            "CommandKey": 2,
            "Payload": "{\"Channel\":\"sto3\",\"ClientId\":\"Konobar\",\"Message\":\" " + 
            msgBox3.value + "\"}"
        });
    };

    function constructJSONPayload4() {
        return JSON.stringify({
            "CommandKey": 2,
            "Payload": "{\"Channel\":\"sto4\",\"ClientId\":\"Konobar\",\"Message\":\" " + 
            msgBox4.value + "\"}"
        });
    };

    function constructJSONPayload5() {
        return JSON.stringify({
            "CommandKey": 2,
            "Payload": "{\"Channel\":\"sto5\",\"ClientId\":\"Konobar\",\"Message\":\" " + 
            msgBox5.value + "\"}"
        });
    };

    function constructJSONPayload6() {
        return JSON.stringify({
            "CommandKey": 2,
            "Payload": "{\"Channel\":\"sto6\",\"ClientId\":\"Konobar\",\"Message\":\" " + 
            msgBox6.value + "\"}"
        });
    };

    socket.onmessage = function (event) {
        console.log(event);
        console.log(event.data);

        var text = event.data;
        var posiljalac = text.substring(23, 27);
        console.log(posiljalac);

        var poruka = text.substring(36, text.length);
        console.log(poruka);

        if(posiljalac == "sto1"){
        var html = '<div class="media w-50 mb-3">' + 
                        '<div class="media-body">' + 
                            '<div class="bg-secondary rounded py-2 px-3 mb-2">' + 
                                '<p class="text-small mb-0 text-white">' + poruka + '</p>' +
                            '</div>' +
                        '</div>' +
                    '</div>';

        listOfMessages1.innerHTML += html;
        } else if(posiljalac == "sto2"){
            var html = '<div class="media w-50 mb-3">' + 
                        '<div class="media-body">' + 
                            '<div class="bg-secondary rounded py-2 px-3 mb-2">' + 
                                '<p class="text-small mb-0 text-white">' + poruka + '</p>' +
                            '</div>' +
                        '</div>' +
                    '</div>';

            listOfMessages2.innerHTML += html;
        } else if(posiljalac == "sto3"){
                var html = '<div class="media w-50 mb-3">' + 
                                '<div class="media-body">' + 
                                    '<div class="bg-secondary rounded py-2 px-3 mb-2">' + 
                                        '<p class="text-small mb-0 text-white">' + poruka + '</p>' +
                                    '</div>' +
                                '</div>' +
                            '</div>';

                listOfMessages3.innerHTML += html;
        } else if(posiljalac == "sto4"){
            var html = '<div class="media w-50 mb-3">' + 
                        '<div class="media-body">' + 
                            '<div class="bg-secondary rounded py-2 px-3 mb-2">' + 
                                '<p class="text-small mb-0 text-white">' + poruka + '</p>' +
                            '</div>' +
                        '</div>' +
                    '</div>';

            listOfMessages4.innerHTML += html;
        } else if(posiljalac == "sto5"){
            var html = '<div class="media w-50 mb-3">' + 
                        '<div class="media-body">' + 
                            '<div class="bg-secondary rounded py-2 px-3 mb-2">' + 
                                '<p class="text-small mb-0 text-white">' + poruka + '</p>' +
                            '</div>' +
                        '</div>' +
                    '</div>';

            listOfMessages5.innerHTML += html;
        } else if(posiljalac == "sto6"){
            var html = '<div class="media w-50 mb-3">' + 
                        '<div class="media-body">' + 
                            '<div class="bg-secondary rounded py-2 px-3 mb-2">' + 
                                '<p class="text-small mb-0 text-white">' + poruka + '</p>' +
                            '</div>' +
                        '</div>' +
                    '</div>';

            listOfMessages6.innerHTML += html;
        }
    };

    //Table 1 -----------------------------------------------------------------------------------------
    var sendBtn1 = document.getElementById("button-send1");
    var msgBox1 = document.getElementById("messageBox1");
    var listOfMessages1 = document.getElementById("messageArea1");




    sendBtn1.onclick = function () {
        if (!socket || socket.readyState !== WebSocket.OPEN) {
            alert("socket not connected");
        }
        var data = constructJSONPayload1();
        var html = '<div class="media w-50 ml-auto mb-3">' + 
                           '<div class="media-body">' + 
                               '<div class="bg-primary rounded py-2 px-3 mb-2">' + 
                                   '<p class="text-small mb-0 text-white">' + msgBox1.value + '</p>' +
                               '</div>' +
                           '</div>' +
                       '</div>';

        listOfMessages1.innerHTML += html;
        listOfMessages1.scrollTop = listOfMessages1.scrollHeight;
        msgBox1.value = "";
        socket.send(data);

        return false;
        
    };

    //Table 2 -----------------------------------------------------------------------------------------
    var sendBtn2 = document.getElementById("button-send2");
    var msgBox2 = document.getElementById("messageBox2");
    var listOfMessages2 = document.getElementById("messageArea2");




    sendBtn2.onclick = function () {
        if (!socket || socket.readyState !== WebSocket.OPEN) {
            alert("socket not connected");
        }
        var data = constructJSONPayload2();
        var html = '<div class="media w-50 ml-auto mb-3">' + 
                           '<div class="media-body">' + 
                               '<div class="bg-primary rounded py-2 px-3 mb-2">' + 
                                   '<p class="text-small mb-0 text-white">' + msgBox2.value + '</p>' +
                               '</div>' +
                           '</div>' +
                       '</div>';

        listOfMessages2.innerHTML += html;
        listOfMessages2.scrollTop = listOfMessages2.scrollHeight;
        msgBox2.value = "";
        socket.send(data);

        return false;
        
    };


    //Table 3 -----------------------------------------------------------------------------------------
    var sendBtn3 = document.getElementById("button-send3");
    var msgBox3 = document.getElementById("messageBox3");
    var listOfMessages3 = document.getElementById("messageArea3");


    sendBtn3.onclick = function () {
        if (!socket || socket.readyState !== WebSocket.OPEN) {
            alert("socket not connected");
        }
        var data = constructJSONPayload3();
        var html = '<div class="media w-50 ml-auto mb-3">' + 
                           '<div class="media-body">' + 
                               '<div class="bg-primary rounded py-2 px-3 mb-2">' + 
                                   '<p class="text-small mb-0 text-white">' + msgBox3.value + '</p>' +
                               '</div>' +
                           '</div>' +
                       '</div>';

        listOfMessages3.innerHTML += html;
        listOfMessages3.scrollTop = listOfMessages3.scrollHeight;
        msgBox3.value = "";
        socket.send(data);

        return false;
        
    };



    //Table 4 -----------------------------------------------------------------------------------------
    var sendBtn4 = document.getElementById("button-send4");
    var msgBox4 = document.getElementById("messageBox4");
    var listOfMessages4 = document.getElementById("messageArea4");


    sendBtn4.onclick = function () {
        if (!socket || socket.readyState !== WebSocket.OPEN) {
            alert("socket not connected");
        }
        var data = constructJSONPayload4();
        var html = '<div class="media w-50 ml-auto mb-3">' + 
                           '<div class="media-body">' + 
                               '<div class="bg-primary rounded py-2 px-3 mb-2">' + 
                                   '<p class="text-small mb-0 text-white">' + msgBox4.value + '</p>' +
                               '</div>' +
                           '</div>' +
                       '</div>';

        listOfMessages4.innerHTML += html;
        listOfMessages4.scrollTop = listOfMessages4.scrollHeight;
        msgBox4.value = "";
        socket.send(data);

        return false;
        
    };



    //Table 5 -----------------------------------------------------------------------------------------
    var sendBtn5 = document.getElementById("button-send5");
    var msgBox5 = document.getElementById("messageBox5");
    var listOfMessages5 = document.getElementById("messageArea5");


    sendBtn5.onclick = function () {
        if (!socket || socket.readyState !== WebSocket.OPEN) {
            alert("socket not connected");
        }
        var data = constructJSONPayload5();
        var html = '<div class="media w-50 ml-auto mb-3">' + 
                           '<div class="media-body">' + 
                               '<div class="bg-primary rounded py-2 px-3 mb-2">' + 
                                   '<p class="text-small mb-0 text-white">' + msgBox5.value + '</p>' +
                               '</div>' +
                           '</div>' +
                       '</div>';

        listOfMessages5.innerHTML += html;
        listOfMessages5.scrollTop = listOfMessages5.scrollHeight;
        msgBox5.value = "";
        socket.send(data);

        return false;
        
    };



    //Table 6 -----------------------------------------------------------------------------------------
    var sendBtn6 = document.getElementById("button-send6");
    var msgBox6 = document.getElementById("messageBox6");
    var listOfMessages6 = document.getElementById("messageArea6");


    sendBtn6.onclick = function () {
        if (!socket || socket.readyState !== WebSocket.OPEN) {
            alert("socket not connected");
        }
        var data = constructJSONPayload6();
        var html = '<div class="media w-50 ml-auto mb-3">' + 
                           '<div class="media-body">' + 
                               '<div class="bg-primary rounded py-2 px-3 mb-2">' + 
                                   '<p class="text-small mb-0 text-white">' + msgBox6.value + '</p>' +
                               '</div>' +
                           '</div>' +
                       '</div>';

        listOfMessages6.innerHTML += html;
        listOfMessages6.scrollTop = listOfMessages6.scrollHeight;
        msgBox6.value = "";
        socket.send(data);

        return false;
        
    };



</script>